{% extends "base.html" %}
{% load static %}
{% block title %}Dog or Cat?{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/canemtest.css' %}">
    <div class="container my-5 text-center" style="max-width: 600px; animation: fadeIn 1s;">
        <div class="p-4 rounded shadow" style="background-color: white;">
            <h1 class="mb-4" style="color: #004d40; font-weight: bold;">CanemTEST</h1>
            <p style="font-size: 1.2rem; color: #00695c;">¿Qué especie prefieres?</p>
        </div>
    <form method="POST" action="{% url 'resultado_test' %}">
        {% csrf_token %}
        <div class="d-flex justify-content-center gap-4 mt-4">
            <div class="btn btn-lg btn-success shadow btn-animated">
                <label for="perro">
                    <input type="radio" id="perro" name="especie" value="Perro" class="d-none " onclick="location.href='{% url 'dog_test' %}'">
                    <span class="text-white">Perro</span>
                </label>
            </div>
            <div class="btn btn-lg btn-success shadow btn-animated">
                <label for="gato">    
                    <input type="radio" id="gato" name="especie" value="Gato" class="d-none" onclick="location.href='{% url 'cat_test' %}'">
                    <span class="text-white">Gato</span>
                </label>
            </div>    
        </div>
    </form>
</div>
{% endblock %}