<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CANEMCAT{% endblock %}</title>
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Bootstrap JS (con dependencias de Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="icon" href="{% static 'images/Logo.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEJq6auK06Wb7t3v9siGb1a3Wrg5T6glPeF4baUjD31ysGgX1z/MkF0qJTCxJ5" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/fontello/css/fontello.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/landing.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <div class="container mt-4" style="flex-grow: 1;">
        <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand" href="{% url 'landing_page' %}">
                    <img src="{% static 'images/Logo.png' %}" alt="Logo de CANEMCAT" style="width: 50px; height: auto;">
                </a>

                <!-- Botón de menú móvil -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Menú de navegación -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <!-- Animales - Dropdown -->
                        {% if user.is_authenticated and user.user_type == 'adopter' %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAnimals" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Animales</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAnimals">
                                <li><a class="dropdown-item" href="{% url 'animals-list' %}">Lista de Animales</a></li>
                                <li><a class="dropdown-item" href="{% url 'animals-create' %}">Añadir Animal</a></li>
                            </ul>
                        </li>
                        {% endif %}

                        {% if not user.is_authenticated %}
                        <!-- Animales - Dropdown para usuarios no autenticados -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAnimals" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Animales</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAnimals">
                                <li><a class="dropdown-item" href="{% url 'animals-list' %}">Lista de Animales</a></li>
                            </ul>
                        </li>

                        <!-- Protectoras - Dropdown para usuarios no autenticados -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownShelters" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Protectoras</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownShelters">
                                <li><a class="dropdown-item" href="{% url 'shelter_list' %}">Lista de Protectoras</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}

                        <!-- Protectoras - Dropdown, visible solo para adoptantes -->
                        {% if user.is_authenticated and user.user_type == 'adopter' %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownShelters" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Protectoras</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownShelters">
                                <li><a class="dropdown-item" href="{% url 'shelter_list' %}">Lista de Protectoras</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'register_shelter' %}">Registrar Protectoras</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <!-- CanemScan y CanemTest solo para adoptantes -->
                        {% if user.is_authenticated and user.user_type == 'adopter' %}
                        <li class="nav-item">
                            <a class="nav-link" href="">CanemSCAN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">CanemTEST</a>
                        </li>
                        {% endif %}
                        {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="">CanemSCAN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">CanemTEST</a>
                        </li>
                        {% endif %}
                        <!-- Opciones específicas para los trabajadores -->
                        {% if user.user_type == 'worker' %}
                        <li class="nav-item">
                            <a class="nav-link" href="">Gestionar Animales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Planificacion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Inventario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Datos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Solicitudes</a>
                        </li>

                        {% endif %}
                    </ul>

                    <!-- Opciones específicas para los adoptantes -->

                    <!-- Alineación a la derecha -->
                    <ul class="navbar-nav ms-auto d-flex">
                        {% if user.is_authenticated %}
                        <!-- Icono de usuario y logout -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {% if user.profile_picture %}
                                <img src="{{ user.profile_picture.url }}" alt="Foto de perfil" class="rounded-circle"
                                    width="30">
                                {% else %}
                                <i class="bi bi-person-circle"></i> <!-- Icono de usuario -->
                                {% endif %}
                                {{ user.full_name }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                                <li><a class="dropdown-item" href="">Perfil</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <!-- Enlace de registro -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">Registrar</a>
                        </li>
                        {% endif %}


                    </ul>

                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}
    </div>

    <!-- Aquí va el footer -->
    <footer>
        <div style="text-align: center; padding: 20px; background-color: #333; color: #fff;">
            <p>Conéctate con nosotros en nuestras redes sociales:</p>
            <div>
                <a href="https://facebook.com/TuMarca" target="_blank"
                    style="margin: 0 10px; color: #fff; text-decoration: none;">
                    <i class="icon-facebook-rect" style="font-size: 25px;"></i>
                </a>
                <a href="https://instagram.com/TuMarca" target="_blank"
                    style="margin: 0 10px; color: #fff; text-decoration: none;">
                    <i class="icon-instagram" style="font-size: 25px;"></i>
                </a>
                <a href="https://twitter.com/TuMarca" target="_blank"
                    style="margin: 0 10px; color: #fff; text-decoration: none;">
                    <i class="icon-twitter-bird" style="font-size: 25px;"></i>
                </a>
                <a href="https://linkedin.com/company/TuMarca" target="_blank"
                    style="margin: 0 10px; color: #fff; text-decoration: none;">
                    <i class="icon-linkedin-rect" style="font-size: 25px;"></i>
                </a>
                <a href="https://youtube.com/c/TuMarca" target="_blank"
                    style="margin: 0 10px; color: #fff; text-decoration: none;">
                    <i class="icon-youtube" style="font-size: 25px;"></i>
                </a>
            </div>
            <p>&copy; 2024 Dogs Management System | <a href="/terminos" style="color: #fff;">Términos y condiciones</a>
                | <a href="/privacidad" style="color: #fff;">Política de privacidad</a></p>
        </div>
    </footer>
</body>

</html>