{% extends "base.html" %}
{% load static %}
{% block title %}Home Page{% endblock %}

{% block content %}

<!-- Contenido principal -->
<div class="jumbotron text-center mt-4">
    <h1 class="display-4">Bienvenido a CANEMCAT</h1>
    <p class="lead">La gestión oficial de osos, mapaches y chihuahuas con peluca</p>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-indicators"> 
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> 
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button> 
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> 
    </div>
    <div class="carousel-inner"> <!-- Slide 1 -->
        <div class="carousel-item active"> 
            <img src="{% static 'images/Perros/oso1.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Fly Me to the Moon</h5>
                <p>Comedia - Disfrútala desde el 6 de diciembre en Apple TV+</p>
            </div>
        </div> <!-- Slide 2 -->
        <div class="carousel-item"> 
            <img src="{% static 'images/Perros/map1.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Otro Slide</h5>
                <p>Descripción del contenido del segundo slide.</p>
            </div>
        </div> <!-- Slide 3 -->
        <div class="carousel-item"> 
            <img src="{% static 'images/Perros/chi2.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Tercer Slide</h5>
                <p>Descripción del contenido del tercer slide.</p>
            </div>
        </div>
    </div> 
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"> 
        <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
        <span class="visually-hidden">Previous</span> 
    </button> 
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"> 
        <span class="carousel-control-next-icon" aria-hidden="true"></span> 
        <span class="visually-hidden">Next</span> 
    </button>
</div>

{% endblock %}