.carousel-item img {
  transition: opacity 0.5s ease;  /* Transición suave */
  height: 500px;
  object-fit: cover;
  border: 5px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
background-color: rgba(0, 0, 0, 0.5); /* Color de fondo de las flechas */
border-radius: 50%;  /* Hace las flechas redondas */
padding: 10px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
background-color: rgba(0, 0, 0, 0.7); /* Color más oscuro cuando se pasa el ratón */
}
.carousel-caption { 
background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */ 
border-radius: 10px; 
padding: 10px; 
} 
.carousel-control-prev,
.carousel-control-next {
display: none;
}