/* Declaración de variables de colores */
:root {
    --color-darkest: #485C4C;    /* Verde más oscuro */
    --color-darker: #5C9074;     /* Verde oscuro */
    --color-medium: #58A681;     /* Verde medio */
    --color-light: #8EB59C;      /* Verde claro */
    --color-lightest: #89B398;   /* Verde muy claro */
    --color-white: #FFFFFF;      /* Blanco */
}

/* Estilo para la sección de filtros */
.filter-section {
    background-color: var(--color-darkest); /* Fondo verde medio */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    color: var(--color-white); /* Texto en blanco */
}

.filter-section h2 {
    color: var(--color-white); /* Título en blanco */
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.filter-form .form-group {
    margin-bottom: 15px;
}

.filter-form label {
    font-weight: bold;
    color: var(--color-white);
    display: block;
    margin-bottom: 5px;
}

.filter-form select {
    border-radius: 10px; /* Redondear bordes de los selects */
    border: 1px solid var(--color-light);
    padding: 8px;
    width: 100%;
}

.filter-form button {
    background-color: var(--color-white); /* Fondo blanco */
    color: var(--color-medium); /* Texto verde medio */
    border: 2px solid var(--color-medium); /* Borde verde medio */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.filter-form button:hover {
    background-color: var(--color-medium); /* Fondo verde medio al pasar el cursor */
    color: var(--color-white); /* Texto blanco al pasar el cursor */
}

/* Estilo para la tarjeta de los animales */
.card {
    border: 1px solid var(--color-light);
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card img {
    border-top-left-radius: 10px; /* Redondear parte superior de la imagen */
    border-top-right-radius: 10px;
}

.card .card-body {
    padding: 20px;
}

.card .card-title {
    font-weight: bold;
    color: var(--color-darkest); /* Título verde más oscuro */
}

.card .btn-primary {
    background-color: var(--color-medium); /* Fondo verde medio */
    border: none;
    color: var(--color-white);
    border-radius: 10px;
}

.card .btn-primary:hover {
    background-color: var(--color-darker); /* Fondo verde oscuro al pasar el cursor */
}

/* Paginación */
.pagination .page-item .page-link {
    color: var(--color-medium); /* Verde medio */
    border-radius: 10px;
    border: 1px solid var(--color-medium);
}

.pagination .page-item .page-link:hover {
    background-color: var(--color-medium);
    color: var(--color-white);
}
