{% extends 'base.html' %}
{% block content %}
<h2>Protectoras</h2>
<a href="{% url 'map' %}" class="btn btn-info">Protectoras cercanas</a>

<table class="table table-responsive-sm table-responsive-md table-responsive-lg table-bordered bg-white">
    <tr>
        <th scope="col">Nombre</th><th scope="col">Dirección</th><th scope="col">Correo</th><th scope="col">Teléfono</th><th></th>
    </tr>
    {% for shelter in shelters %}
        <tr>
            <td>{{ shelter.name }}</td>
            <td>{{ shelter.address }}</td>
            <td>{{ shelter.email }}</td>
            <td>{{ shelter.telephone }}</td>
            <td><a href="{% url 'view_shelter' pk=shelter.id %}" class="btn btn-info">Ver</a>
            <a href="{% url 'edit_shelter' pk=shelter.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'delete_shelter' pk=shelter.id %}" class="btn btn-danger">Eliminar</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}