{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil de la Protectora{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/shelter_detail.css' %}">
<div class="container mt-5 p-4 bg-white shadow-sm rounded">
    <h2>Centro de Adopción</h2>
    <a href="{% url 'shelter_list' %}" class="btn btn-secondary">Volver al listado</a>
    {% if user.is_authenticated and user.user_type == 'worker' or user.user_type == 'admin'%}
        <a href="{% url 'add-shelter-worker' shelter_id=shelter.id %}" class="btn btn-outline-success">Asignar Trabajador</a>
        <a href="{% url 'shelter_workers' shelter_id=shelter.id %}" class="btn btn-outline-info">Ver trabajadores</a>
        <a class="btn btn-warning" href="{% url 'edit_shelter' pk=shelter.id %}">Actualizar</a>
        <a href="{% url 'delete_shelter' pk=shelter.id %}" class="btn btn-danger">Dar de baja</a>
    {% endif %}
    <ul>
        <li><strong>Nombre: </strong> {{ shelter.name }}</li>
        <li><strong>Dirección: </strong>{{ shelter.address }}</li>
        <li><strong>Teléfono: </strong>{{ shelter.telephone}}</li>
        <li><strong>Correo electrónico: </strong>{{ shelter.email }}</li>
        {% if user.is_authenticated %}
            <li><strong>Documento acreditativo: </strong>{{ shelter.accreditation_file }}</li>
            <li><strong>Fecha de registro: </strong>{{ shelter.register_date|date:'d-m-Y' }}</li>
            <li><strong>Estado: </strong>{{ shelter.status }}</li>
            <li><strong>Latitud: </strong>{{ shelter.latitude }}</li>
            <li><strong>Longitud: </strong>{{ shelter.longitude }}</li>
        {% endif %}
        <li><strong>Código Postal: </strong>{{ shelter.postal_code }}</li>
    </ul>
</div>
{% endblock %}