{% extends 'base.html' %}

{% block title %} Alta Protectora {% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center bg-light">
    <div class="w-100" style="max-width: 600px;">
        <h1 class="text-center mb-4">Alta Centro de Adopción</h1>

        <form method="post" enctype="multipart/form-data" class="p-4 bg-white shadow-sm rounded">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>

                    <div class="d-flex flex-column">
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    
                    {% if field.errors %}
                        <div class="text-danger mt-1">
                            {% for error in field.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button class="btn btn-success w-100 py-2" type="submit">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}