{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center text-white">Eliminar Animal</h2>
    
    <div class="mt-4 bg-white">
        <p>¿Estás seguro de que deseas eliminar este animal?</p>
    
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <button type="submit" class="btn btn-danger">Sí, eliminar</button>
            </div>
        </form>

        <a href="{% url 'animals-list' %}" class="btn btn-secondary">Cancelar</a>
    </div>
</div>
{% endblock %}