{% extends 'base.html' %}

{% block content %}
    <h1>{{ animal.name }}</h1>
    <p><strong>Especie:</strong> {{ animal.get_species_display }}</p>
    <p><strong>Edad:</strong> {{ animal.age }} años</p>

    {% if user.is_authenticated %}
        {% with wishlist=user.wishlists.first %}
            {% if wishlist and wishlist.is_animal_in_wishlist(animal) %}
                <p>Este animal ya está en tu lista de deseos.</p>
                <form action="{% url 'animales:remove_from_wishlist' animal.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Eliminar de mi lista de deseos</button>
                </form>
            {% else %}
                <form action="{% url 'animales:add_to_wishlist' animal.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Agregar a mi lista de deseos</button>
                </form>
            {% endif %}
        {% endwith %}
    {% else %}
        <p>Debes iniciar sesión para agregar este animal a tu lista de deseos.</p>
    {% endif %}
{% endblock %}
