{% extends 'shelter/base2.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}">
<div class="container mt-5">
    <h2 class="text-center text-white">Editar Animal</h2>
    <form method="post" enctype="multipart/form-data" class="mt-4 p-4 bg-white shadow-sm rounded">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <div class="d-flex justify-content-between">
            <a href="{% url 'animal_list' %}" class="btn btn-secondary">Volver a la lista</a>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
    </form>
</div>
{% endblock %}
